.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: 5px;
}

.ganador {
    background-color: #28a745 !important;
}

.perdedor {
    background-color: #dc3545 !important;
}

.empate {
    background-color: #dca235 !important;
}